{% extends 'HostkitAdminBundle:Default:index.html.twig' %}
{% form_theme form 'HostkitAdminBundle:Default:fields.html.twig' %}

{% block title %}Admin Interface - Products{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-md-12">
    <div class="widget">

    <div class="widget-head">
        <div class="pull-left">Hosting Package</div>
        <div class="widget-icons pull-right">
            <a class="wminimize" href="#"><i class="icon-chevron-up"></i></a>
            <a class="wclose" href="#"><i class="icon-remove"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="widget-content">

    <div class="padd">
    {% if modify is defined %}
        <h6>Modify Package</h6>
    {% else %}
        <h6>Add new Package</h6>
    {% endif %}
    <hr class="margin-top-bottom"/>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="hostingTabs">
        <li class="active"><a href="#home" data-toggle="tab">General</a></li>
        <li><a href="#profile" data-toggle="tab">Pricing</a></li>
    </ul>
    <form action="" method="post" class="form-horizontal row-fluid" {{ form_enctype(form) }}>
    <div class="tab-content">

    <div class="tab-pane active" id="home">
        {{ form_errors(form) }}
        {% if modify is defined %}
            {% for item in description %}
                <input type="hidden" value="{{ item }}" class="package_value"/>
            {% endfor %}
        {% endif %}

        <div class="form-group">
            {{ form_label(form.catId, null, {'label_attr': {'class': 'col-lg-4 control-label' }}) }}
            <div class="col-lg-8">
                {{ form_widget(form.catId, {'attr': {'class': 'form-control' }}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.name, null, {'label_attr': {'class': 'col-lg-4 control-label' }}) }}
            <div class="col-lg-8">
                {{ form_widget(form.name, {'attr': {'class': 'form-control' }}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.webspace, null, {'label_attr': {'class': 'col-lg-4 control-label' }}) }}
            <div class="col-lg-8">
                {{ form_widget(form.webspace, {'attr': {'class': 'form-control' }}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.traffic, null, {'label_attr': {'class': 'col-lg-4 control-label' }}) }}
            <div class="col-lg-8">
                {{ form_widget(form.traffic, {'attr': {'class': 'form-control' }}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.databases, null, {'label_attr': {'class': 'col-lg-4 control-label' }}) }}
            <div class="col-lg-8">
                {{ form_widget(form.databases, {'attr': {'class': 'form-control' }}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.ftp, null, {'label_attr': {'class': 'col-lg-4 control-label' }}) }}
            <div class="col-lg-8">
                {{ form_widget(form.ftp, {'attr': {'class': 'form-control' }}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.email, null, {'label_attr': {'class': 'col-lg-4 control-label' }}) }}
            <div class="col-lg-8">
                {{ form_widget(form.email, {'attr': {'class': 'form-control' }}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.quantity, null, {'label_attr': {'class': 'col-lg-4 control-label' }}) }}
            <div class="col-lg-8">
                {{ form_widget(form.quantity, {'attr': {'class': 'form-control' }}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.cpanel_package, null, {'label_attr': {'class': 'col-lg-4 control-label' }}) }}
            <div class="col-lg-8">
                {{ form_widget(form.cpanel_package, {'attr': {'class': 'form-control' }}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.featured, null, {'label_attr': {'class': 'col-lg-4 control-label' }}) }}
            <div class="col-lg-8">
                {{ form_widget(form.featured, {'attr': {'class': 'form-control' }}) }}
            </div>
        </div>

        <hr class="margin-top-bottom"/>
        <div class="form-group">
            <div class="col-lg-offset-1 col-lg-9">
                {% if modify is defined %}
                    <button class="btn btn-success" type="submit">Update Package</button>
                {% else %}
                    <button class="btn btn-success" type="submit">Add Package</button>
                {% endif %}
            </div>
        </div>

    </div>
    <div class="tab-pane" id="profile">
    <div class="form-group">
        {{ form_label(form.typeId, null, {'label_attr': {'class': 'col-lg-4 control-label' }}) }}
        <div class="col-lg-8">
            {{ form_widget(form.typeId, {'attr': {'class': 'form-control' }}) }}
        </div>
    </div>

    {% if modify is defined %}
    {% if rec == 1 %}
    <div class="form-group price-group" id="onetime">
    {% else %}
    <div class="form-group price-group" id="onetime" style="display: none">
            {% endif %}
            {% else %}
            <div class="form-group price-group" id="onetime">
            {% endif %}
            {{ form_label(form.price, null, {'label_attr': {'class': 'col-lg-4 control-label' }}) }}
            <div class="col-lg-8">
                {{ form_widget(form.price, {'attr': {'class': 'form-control' }}) }}
            </div>
        </div>

        {% if modify is defined %}
        {% if rec == 2 %}
        <div class="clr mar price-group" id="recurring"><!-- start recurring -->
            {% else %}
            <div class="clr mar price-group" id="recurring" style="display: none"><!-- start recurring -->
            {% endif %}
            {% else %}
            <div class="clr mar price-group" id="recurring" style="display: none"><!-- start recurring -->
            {% endif %}

                <table class="pricing">
                    <thead>
                    <tr>
                        <th style="width:200px;">Payment Period</th>
                        <th>Monthly Price</th>
                        <th>Price per Period</th>
                        <th>Setup Fee</th>
                        <th>Discount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="form-group">
                                <div class="col-lg-8">
                                    <input type="text" class="input_small form-control" value="Monthly"
                                           readonly="readonly"/>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <div class="col-lg-8">
                                    {{ form_widget(form.monthly, {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <div class="col-lg-8">
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="text" class="input_small mperiod_price form-control" value=""
                                               readonly="readonly"/>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <div class="col-lg-8">
                                    {{ form_widget(form.msetup, {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <div class="col-lg-8">
                                    {{ form_widget(form.mdiscount, {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <div class="col-lg-8">
                                    <input type="text" class="input_small form-control" value="Quarterly"
                                           readonly="readonly"/>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <div class="col-lg-8">
                                    {{ form_widget(form.quarterly, {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <div class="col-lg-8">
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="text" class="input_small qperiod_price form-control" value=""
                                               readonly="readonly"/>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <div class="col-lg-8">
                                    {{ form_widget(form.qsetup, {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <div class="col-lg-8">
                                    {{ form_widget(form.qdiscount, {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <div class="col-lg-8">
                                    <input type="text" class="input_small form-control" value="Semiannual"
                                           readonly="readonly"/>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <div class="col-lg-8">
                                    {{ form_widget(form.semiannual, {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <div class="col-lg-8">
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="text" class="input_small speriod_price form-control" value=""
                                               readonly="readonly"/>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <div class="col-lg-8">
                                    {{ form_widget(form.ssetup, {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <div class="col-lg-8">
                                    {{ form_widget(form.sdiscount, {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <div class="col-lg-8">
                                    <input type="text" class="input_small form-control" value="Annual"
                                           readonly="readonly"/>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <div class="col-lg-8">
                                    {{ form_widget(form.annual, {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <div class="col-lg-8">
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="text" class="input_small aperiod_price form-control" value=""
                                               readonly="readonly"/>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <div class="col-lg-8">
                                    {{ form_widget(form.asetup, {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <div class="col-lg-8">
                                    {{ form_widget(form.adiscount, {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <!-- end recurring -->

            {{ form_rest(form) }}
        </div>
        <!-- second tab end -->

    </div>

    </form>

    </div>

    <div class="widget-foot">
        <a href="{{ path('hostkit_xs_hosting_overview') }}">
            <button class="btn btn-info">Back to Package overview</button>
        </a>

        <div class="clearfix"></div>

    </div>

    </div>

    </div>
    </div>

{% endblock %}