{% extends 'HostkitAdminBundle:Default:index.html.twig' %}

{% block title %}Admin Interface - Products{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="widget">

                <div class="widget-head">
                    <div class="pull-left">Domains</div>
                    <div class="widget-icons pull-right">
                        <a class="wminimize" href="#"><i class="icon-chevron-up"></i></a>
                        <a class="wclose" href="#"><i class="icon-remove"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="widget-content">
				<div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover table-sort">
                        <thead>
                        <tr>
                            <th>TLD</th>
                            <th>Period</th>
                            <th>Cost</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if domainPricing is empty %}
                            <tr>
                                <td colspan="7">No Domains set.</td>
                            </tr>
                        {% else %}
                            {% for domainPrice in domainPricing %}
                                <tr data-hide="{{ domainPrice.id }}">
                                    <td>{{ domainPrice.tld }}</td>
                                    <td>{{ domainPrice.period }} Year</td>
                                    <td>${{ domainPrice.cost }}</td>
                                    <td>${{ domainPrice.price }}</td>
                                    <td>
                                        <a href="{{ path('hostkit_xs_domains_modify', {'productId': domainPrice.id }) }}">
                                            <button class="btn btn-xs btn-warning"><i class="icon-pencil"></i></button>
                                        </a>
                                        <button class="btn btn-xs btn-danger delete" data-serverid="{{ domainPrice.id }}" data-target="{{ path('hostkit_xs_domains_delete', {'productId': domainPrice.id }) }}"><i class="icon-remove"></i></button>

                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
					</div>

                    <div class="widget-foot">
                        <a href="{{ path('hostkit_xs_domains_add') }}">
                            <button class="btn btn-success"><span class="icon-white icon-plus"></span> Add TLD
                            </button>
                        </a>

                        <div class="clearfix"></div>

                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}