{% extends 'HostkitClientBundle:Default:index.html.twig' %}

{% block clientcontent %}


            <!--content starts-->
            <section class="col-md-8">
				<section class="overview">
					<section class="sbox webspace">
						<div class="arrow"></div>
						<h3>Webspace</h3>
						
						{% if services %}
						<div class="circle-box">
							<div id="circliful" data-dimension="140" data-border="inline" data-part="{{ services.webspace.used }}" data-total="{{ services.webspace.limit }}" data-fgcolor="#487A55" data-animation-step="0" data-width="16"></div>
							<span class="info-text">{{ services.webspace.used }} MB Used</span>
						</div>
						{% else %}
						<div class="circle-box">
							<div id="circliful1" data-dimension="140" data-border="inline" data-percent="0" data-fgcolor="#487A55" data-animation-step="0" data-width="16"></div>
							<span class="info-text" style="top: 50px">No Data <br />available</span>
						</div>
						{% endif %}
						
					</section>
					<section class="sbox traffic">
						<div class="arrow"></div>
						<h3>Subdomains</h3>
						
						{% if services %}
						<div class="circle-box">
							<div id="circliful2" data-dimension="140" data-border="inline" data-part="{{ services.sub.sub_used }}" data-total="{{ services.sub.sub_max }}" data-fgcolor="#487A55" data-animation-step="0" data-width="16"></div>
							<span class="info-text">{{ services.sub.sub_used }} / {{ services.sub.sub_max }}</span>
						</div>
						{% else %}
						<div class="circle-box">
							<div id="circliful3" data-dimension="140" data-border="inline" data-percent="0" data-fgcolor="#487A55" data-animation-step="0" data-width="16"></div>
							<span class="info-text" style="top: 50px">No Data <br />available</span>
						</div>
						{% endif %}
						
					</section>
					<section class="sbox mysql">
						<div class="arrow"></div>
						<h3>MySQL Databases</h3>
						
						{% if services %}
						<div class="circle-box">
							<div id="circliful4" data-dimension="140" data-border="inline" data-part="{{ services.dbs.dbs_used }}" data-total="{{ services.dbs.dbs_max }}" data-fgcolor="#75C78A" data-animation-step="0" data-width="16"></div>
							<span class="info-text">{{ services.dbs.dbs_used }} / {{ services.dbs.dbs_max }}</span>
						</div>
						{% else %}
						<div class="circle-box">
							<div id="circliful5" data-dimension="140" data-border="inline" data-percent="0" data-fgcolor="#487A55" data-animation-step="0" data-width="16"></div>
							<span class="info-text" style="top: 50px">No Data <br />available</span>
						</div>
						{% endif %}
						
					</section>
					
					<div style="clear: both"></div>
					
					{% if ordered_items is defined %}
                    {% for ordered_item in ordered_items %}
					<section class="small-block">
						<div class="block-detail">
							<h5>Domain</h5>
							<p>{{ ordered_item.packageDomain }}</p>
						</div>
						
						<div class="block-detail">
							<h5>Package</h5>
							<p>{{ ordered_item.packageId }}</p>
						</div>
						
						<div class="block-detail">
							<h5>Status</h5>
							{% if ordered_item.status == 1 %}
							<p class="color-yellow">Created</p>
							{% elseif ordered_item.status == 2 %}
							<p class="color-yellow">Pending</p>
							{% elseif ordered_item.status == 3 %}
							<p class="color-green">Active</p>
							{% elseif ordered_item.status == 4 %}
							<p class="color-red">Cancelled</p>
							{% elseif ordered_item.status == 3 %}
							<p class="color-red">Refused</p>
							{% endif %}
						</div>
						
						<div class="block-detail">
							<!--<div class="button"><span class="fa fa-cogs"></span></div>-->
							<a href="{{ path('hostkit_client_support_add', { service: ordered_item.id }) }}"><div class="button"><span class="fa fa-envelope"></span></div></a>
						</div>
					</section>
					{% endfor %}
					{% endif %}
					
					<section class="mbox">
						<h5>Last Activity</h5>
						<table class="table table-striped table-dashbord">
						
						<tbody>
						{% if supportTickets is not null %}
						{% for supportTicket in supportTickets %}
						<tr>
							<td>{{ supportTicket.createdAt }}</td> <td>Support Ticket</td> <td>{{ supportTicket.title }}</td>
						</tr>
						{% endfor %}
						{% else %}
						<tr>
							<td colspan="3">No Tickets found.</td>
						</tr>
						{% endif %}
						</tbody>
						</table>
						
						{% if supportTickets is not null %}
						<a href="{{ path('hostkit_client_support') }}"><div class="button">Show Overview</div></a>
						{% endif %}
					</section>
					
					<section class="mbox">
						<h5>Invoices</h5>
						<table class="table table-striped table-dashbord">
						<tbody>
						{% if invoices is not null %}
						{% for invoice in invoices %}
						<tr>
							<td>#{{ invoice.id }}</td> <td>{{ invoice.date }}</td> <td>${{ invoice.amount }}</td>
						</tr>
						{% endfor %}
						{% else %}
						<tr>
							<td colspan="3">No open Invoices found.</td>
						</tr>
						{% endif %}
						</tbody>
						</table>
						{% if invoices is not null %}
						<a href=""><div class="button">Show Overview</div></a>
						{% endif %}
					</section>
					
					<div style="clear: both"></div>
				   
				</section>

			</section>
            <!--content ends-->

<script type="text/javascript">
	$('#circliful').circliful();
	$('#circliful1').circliful();
	$('#circliful2').circliful();
	$('#circliful3').circliful();
	$('#circliful4').circliful();
	$('#circliful5').circliful();
    </script>  
{% endblock %}