{% extends 'HostkitShopBundle:Default:index.html.twig' %}

{% block content %}
            <div class="container margin-top client-content">

                <!--row starts-->
                <div class="row">

                    <!--left sidebar starts-->
                    <div class="col-md-4" style="width: 250px">
                        <div class="sidebar-left">
                            <ul class="sidebar-menu">
                                <li><a href="{{ path('hostkit_client_homepage') }}">Overview</a></li>
                                <li><a href="{{ path('hostkit_client_domains_overview') }}">Domains</a></li>
                                <li><a href="{{ path('hostkit_client_hosting') }}">Hosting</a></li>
								<li><a href="{{ path('hostkit_client_invoices') }}">Invoices</a></li>
                                <li><a href="{{ path('hostkit_client_support') }}">Support</a></li>
                                <li><a href="{{ path('hostkit_client_settings', { userId: twigVars.userId }) }}">Settings</a></li>
								<li><a href="/logout" style="color: orange; ">Logout</a></li>
                            </ul>
                            <!--spacer here-->
                            <div class="spacer-40px"></div>
                        </div>
                    </div>
                    <!--left sidebar ends-->
                    {% block clientcontent %}{% endblock %}
                </div>
            <!--row ends-->

{% endblock %}