{% extends 'HostkitClientBundle:Default:index.html.twig' %}

{% block clientcontent %}
    <section class="col-md-8">
	<div class="content-box">
        <h3>Support Tickets</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Created on</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Subject</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
			{% if supportTickets is empty %}
				<tr>
					<td colspan="5">No Support Tickets found.</td>
				</tr>
			{% else %}
				{% for supportTicket in supportTickets %}
					<tr>
						<td>{{ supportTicket.createdAt }}</td>
						<td>{{ supportTicket.priority }}</td>
						{% if supportTicket.status == 1 %}
                                        <td><span class="label label-warning">Open</span></td>
                                    {% else %}
                                        <td><span class="label label-success">Answered</span></td>
                                    {% endif %}
						<td>{{ supportTicket.title }}</td>
						<td><a href="{{ path('hostkit_client_support_detail', {'ticketId': supportTicket.id }) }}"><span class="label label-success">Details</span></a></td>
					</tr>
				{% endfor %}
			{% endif %}
            
            </tbody>
        </table>
	</div>

        <br /><br />
        <div class="divider-line-narrow"></div>
        <div class="content-footer"><a href="{{ path('hostkit_client_support_add') }}"><span></span> Open new Ticket</a></div>
    </section>
{% endblock %}