{% extends 'HostkitClientBundle:Default:index.html.twig' %}

{% block content %}
<div class="span10">
    <div class="box span12">
        <div data-original-title="" class="box-header well">
            <h2><i class="icon-th-list"></i> Email Accounts</h2>
            <div class="box-icon">
                <a class="btn btn-minimize btn-round" href="#"><i class="icon-chevron-up"></i></a>
                <a class="btn btn-close btn-round" href="#"><i class="icon-remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable {% if emails.data is defined %}datatable{% endif %}">
                <thead>
                    <tr role="row">
                        <th class="sorting_asc" role="columnheader">E-Mail Adresse</th>
                        <th class="sorting" role="columnheader">MB genutzt/MB verfügbar</th>
                        <th class="sorting" role="columnheader">Actions</th></tr>
                </thead>   

                <tbody role="alert" aria-live="polite" aria-relevant="all">
                    {% if emails.data is defined %}
                    {% for email in emails.data %}
                        <tr class="odd" id="{{ loop.index0 }}">
                            <td class="sorting_1">{{ email.email }}</td>
                            <td class="center">{% if email.humandiskused == 'None' %} 0 MB {% else %} {{ email.humandiskused }} {% endif %}/ <span class="quota">{{ email.humandiskquota }}</span></td>
                            <td class="center ">
                                    <a href="#email" onclick="editEmail('{{ email.email }}', '{{ loop.index0 }}');scrollWin();"><i class="icon-edit"></i></a>
                                    <a href="#" class="confirm-message" onclick="setEmail('{{ email.email }}');setEmailId('{{ loop.index0 }}')"><i class="icon-remove"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    {% else %}
                        <tr><td colspan="3">Es sind noch keine E-Mail Postfächer vorhanden.</td></tr>
                    {% endif %}
                    </tbody>
                </table>
                
                <div id="dialog-confirm" title="E-Mail Postfach löschen?" style="display: none;">
                    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Dieses E-Mail Postfach wird dauerhaft gelöscht. Sind Sie sicher?</p>
                </div>

                <div id="dialog-success" title="E-Mail Postfach gelöscht" style="display: none;">
                    <p><span class="ui-icon ui-icon-info" style="float:left; margin:0 7px 20px 0;"></span>Das E-Mail Postfach wurde erfolgreich gelöscht.</p>
                </div>
            </div>
        </div>


        <div class="box span12 email">
            <div data-original-title="" class="box-header well">
                <h2><i class="icon-edit"></i> <span>Neue E-Mail Adresse</span></h2>
                <div class="box-icon">
                    <a class="btn btn-minimize btn-round" href="#"><i class="icon-chevron-up"></i></a>
                    <a class="btn btn-close btn-round" href="#"><i class="icon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <form action="" method="post" {{ form_enctype(form) }} class="form-horizontal">
                            {{ form_errors(form) }}
                        <fieldset>
                            <div class="control-group control-email">
                                <label class="control-label">{{ form_label(form.email) }}</label>
                                <div class="controls">
                                    <div class="input-append">
                                    {{ form_widget(form.email, {'attr': {'class': 'span2'}}) }}
                                    <span class="add-on" style="margin-left: -4px">@{{ domain }}</span>
                                    </div>
                                    {{ form_errors(form.email) }}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">{{ form_label(form.quota) }}</label>
                                <div class="controls">
                                    <div class="input-append">
                                    {{ form_widget(form.quota, {'attr': {'class': 'span2'}}) }}
                                    <span class="add-on" style="margin-left: -4px">MB</span>
                                    </div>
                                    {{ form_errors(form.quota) }}
                                    
                                </div>
                            </div>
                                
                            <div class="control-group">
                                <label class="control-label"></label>
                                <div class="controls">
                                    {{ form_errors(form.password) }}
                                    {{ form_widget(form.password, {'attr': {'class': 'span3'}}) }}
                                </div>
                            </div>
                            {{ form_rest(form) }}
                                <div class="form-actions">
                                    <button class="btn btn-primary" type="submit">Anlegen</button>
                                    <button class="btn" type="reset">Abbrechen</button>
                                </div>
                            </fieldset>
                        </form>



                    </div>
                </div>

            </div>
{% endblock %}