{% extends 'HostkitAdminBundle:Default:index.html.twig' %}

{% block title %}Admin Interface - Email Templates{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="widget">

                <div class="widget-head">
                    <div class="pull-left">E-Mail Templates</div>
                    <div class="widget-icons pull-right">
                        <a class="wminimize" href="#"><i class="icon-chevron-up"></i></a>
                        <a class="wclose" href="#"><i class="icon-remove"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="widget-content">

                    <table class="table table-striped table-bordered table-hover table-sort">
                        <thead>
                        <tr>
                            <th>name</th>
                            <th>subject</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if emails is empty %}
                            <tr>
                                <td colspan="7">No Data available.</td>
                            </tr>
                        {% else %}
                            {% for email in emails %}
                                <tr data-hide="{{ email.id }}">
                                    <td>{{ email.name }}</td>
                                    <td>{{ email.subject }}</td>
                                    <td>
                                        <a href="{{ path('hostkit_xs_email_modify', {'id': email.id }) }}">
                                            <button class="btn btn-xs btn-warning"><i class="icon-pencil"></i></button>
                                        </a>
                                        <button class="btn btn-xs btn-danger delete" data-serverid="{{ email.id }}" data-target="{{ path('hostkit_xs_email_delete', {'emailId': email.id }) }}"><i class="icon-remove"></i></button>
										<a href="{{ path('hostkit_xs_email_preview', {'name': email.name }) }}" target="_blank">
                                            <button class="btn btn-xs btn-warning"><i class="icon-eye-open"></i></button>
                                        </a>
										
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>

                    <div class="widget-foot">
                        <a href="{{ path('hostkit_xs_email_add') }}">
                            <button class="btn btn-success"><span class="icon-white icon-plus"></span> Add Email Template
                            </button>
                        </a>

                        <div class="clearfix"></div>

                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}