{% extends 'HostkitEmailBundle:Examples:basic.html.twig' %}

{% block contentTop %}
    {% if email.contentTop != '' %}
        <table class="row">
            <tr>
                <td class="wrapper last">

                    <table class="twelve columns">
                        <tr>
                            <td>
                                {% block contentTopInner %}
                                    {{ email.contentTop | replace({
                                    '{{ client.name }}': (client is defined  ? client.firstname : ''),
                                    '{{ client.email }}': (client is defined  ? client.email : ''),
                                    '{{ settings.signature }}': settings.signature,
                                    '{{ settings.url }}': settings.domain,
                                    '{{ username }}': (params.username is defined ? params.username : ''),
                                    '{{ password }}': (params.password is defined  ? params.password : ''),
                                    '{{ domain }}': (params.domain is defined  ? params.domain : ''),
                                    '{{ package }}': (params.package is defined  ? params.package : ''),
                                    '{{ server.ipAddress }}': (params.server_ip is defined  ? params.server_ip : ''),
									'{{ invoice.due }}': (params.invoiceDue is defined  ? params.invoiceDue : '')
                                    })
                                    | raw }}
                                {% endblock %}
                            </td>
                            <td class="expander"></td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>
    {% endif %}
{% endblock %}

{% block contentPanel %}
{% if email.contentInner is defined %}
    {% if email.contentInner != '' %}
        <table class="row callout">
            <tr>
                <td class="wrapper last">

                    <table class="twelve columns">
                        <tr>
                            <td class="panel">
                                {% block contentPanelInner %}
                                    <p>{{ email.contentInner | replace({
                                    '{{ client.name }}': (client is defined  ? client.firstname : ''),
                                    '{{ client.email }}': (client is defined  ? client.email : ''),
                                    '{{ settings.signature }}': settings.signature,
                                    '{{ settings.url }}': settings.domain,
                                    '{{ username }}': (params.username is defined ? params.username : ''),
                                    '{{ password }}': (params.password is defined  ? params.password : ''),
                                    '{{ domain }}': (params.domain is defined  ? params.domain : ''),
                                    '{{ package }}': (params.package is defined  ? params.package : ''),
                                    '{{ server.ipAddress }}': (params.server_ip is defined  ? params.server_ip : ''),
									'{{ invoice.due }}': (params.invoiceDue is defined  ? params.invoiceDue : '')
                                    })
                                    | raw }}</p>
                                {% endblock %}
                            </td>
                            <td class="expander"></td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>
    {% endif %}
    {% endif %}
{% endblock %}

