{% extends 'HostkitAdminBundle:Default:index.html.twig' %}

{% block title %}Admin Interface - CMS Site Management{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="widget">

                <div class="widget-head">
                    <div class="pull-left">Site Management</div>
                    <div class="widget-icons pull-right">
                        <a class="wminimize" href="#"><i class="icon-chevron-up"></i></a>
                        <a class="wclose" href="#"><i class="icon-remove"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="widget-content">
				<div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover table-sort">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Menu</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        {% if sites is iterable %}
                            {% for site in sites %}
                                <tr data-hide="{{ site.id }}">
                                    <td>{{ site.title }}</td>
                                    <td>{{ site.name }}</td>
                                    <td>{{ site.createdAt }}</td>
									{% if site.menu == 1 %}
                                    <td>Main Menu</td>
									{% else %}
									<td>Footer Menu</td>
									{% endif %}
                                    <td>

                                        <a href="{{ path('hostkit_xs_cms_site_modify', {'id': site.id }) }}">
                                            <button class="btn btn-xs btn-warning"><i class="icon-pencil"></i></button>
                                        </a>

                                        <button class="btn btn-xs btn-danger delete" data-target="{{ path('hostkit_xs_cms_site_delete', {'siteId': site.id }) }}"><i class="icon-remove"></i></button>

                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="13">No data available.</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
					</div>
					
                    <div class="widget-foot">
                        <a href="{{ path('hostkit_xs_cms_site_add') }}">
                            <button class="btn btn-success"><span class="icon-white icon-plus"></span> Create new Site
                            </button>
                        </a>

                        <div class="clearfix"></div>

                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}