{% extends 'HostkitClientBundle:Default:index.html.twig' %}

{% block content %}
<div class="span10">
    <div>
        <ul class="breadcrumb">
            <li>
                <a href="{{ path('hostkit_client_hosting') }}">Hosting</a> <span class="divider">/</span>
            </li>
            <li>
                <a href="#">Subdomains</a>
            </li>
        </ul>
    </div>

    <div class="box span12">
        <div data-original-title="" class="box-header well">
            <h2><i class="icon-th-list"></i> Subdomains</h2>
            <div class="box-icon">
                <a class="btn btn-minimize btn-round" href="#"><i class="icon-chevron-up"></i></a>
                <a class="btn btn-close btn-round" href="#"><i class="icon-remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                    <tr role="row">
                        <th class="sorting_asc" role="columnheader">Subdomain</th>
                        <th class="sorting" role="columnheader">Zielordner</th>
                        <th class="sorting" role="columnheader">Status</th>
                        <th class="sorting" role="columnheader">Aktion</th></tr>
                </thead>   

                <tbody role="alert" aria-live="polite" aria-relevant="all">
                    {% if subdomains.data is defined %}
                    {% for subdomain in subdomains.data %}
                        <tr class="odd">
                            <td class="sorting_1">{{ subdomain.domain }}</td>
                            <td class="sorting_1">{{ subdomain.dir }}</td>
                            <td class="sorting_1">
                            {% if subdomain.status == 'not redirected' %}
                                Keine Umleitung eingerichtet.
                            {% else %}
                                {{ subdomain.status }}
                            {% endif %}
                            </td>
                            <td class="center ">
                                <a href=""><img src="{{ asset('/client/images/icons/edit.png') }}" alt="" /></a>
                                <a href=""><img src="{{ asset('/client/images/icons/trash.png') }}" alt="" /></a>
                            </td>
                        </tr>
                    {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="box span12">
            <div data-original-title="" class="box-header well">
                <h2><i class="icon-edit"></i> Neuen Eintrag hinzufügen</h2>
                <div class="box-icon">
                    <a class="btn btn-minimize btn-round" href="#"><i class="icon-chevron-up"></i></a>
                    <a class="btn btn-close btn-round" href="#"><i class="icon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                {% if error != '' %}
                    {{ error }}
                {% else %}
                <form action="" method="post" {{ form_enctype(form) }} class="form-horizontal">
                            {{ form_errors(form) }}
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label">E-Mail Adresse</label>
                                <div class="controls">

                                </div>
                            </div>
                                
                            <div class="control-group">
                                <label class="control-label">{{ form_label(form.forward) }}</label>
                                <div class="controls">
                                    {{ form_errors(form.forward) }}
                                    {{ form_widget(form.forward) }} 
                                </div>
                            </div>
                            {{ form_widget(form._token) }}
                            {{ form_errors(form._token) }}
                                <div class="form-actions">
                                    <button class="btn btn-primary" type="submit">Anlegen</button>
                                    <button class="btn" type="reset">Abbrechen</button>
                                </div>
                            </fieldset>
                        </form>
                        {% endif %}
                    </div>
                </div>

            </div>
            <script type="text/javascript">
                var hosting = 'set';
                </script>
{% endblock %}