{% extends 'HostkitClientBundle:Default:index.html.twig' %}

{% block clientcontent %}
    <section class="col-md-8" id="colorNav">
        <div class="content-box">
            <h3>Subdomains</h3>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Subdomain</th>
                    <th>IP Address</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% if subdomains is iterable %}
				{% for subdomain in subdomains %}
                    <tr>
                        <td><a href="http://{{ subdomain.host }}.{{ domain }}" target="_blank">{{ subdomain.host }}.{{ domain }}</a></td>
						<td>{{ subdomain.value }}</td>
                        <td><a href="{{ path('hostkit_client_domains_subdomains_modify', { domainId: domainId, sub: subdomain.host }) }}"><span class="fa fa-pencil-square-o"></span></a></td>
                    </tr>
				{% endfor %}
                    
                {% else %}
				<tr>
                        <td colspan="4">No Subdomain found.</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>

        </div>
        <br/><br/>

        <div class="divider-line-narrow"></div>
        <div class="content-footer">
            <a href="{{ path('hostkit_client_domains_config', { domainId: domainId }) }}"><span></span> Back to config
                site</a>
            <a href="{{ path('hostkit_client_domains_subdomains_add', { domainId: domainId }) }}"><span></span> Add Subdomain</a>
        </div>
    </section>
{% endblock %}