{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('shop/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ asset('shop/css/bootstrap-theme.min.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ asset('shop/css/font-awesome.min.css') }}" type="text/css" rel="stylesheet"/>
	<link href="{{ asset('client/css/invoice.css') }}" type="text/css" rel="stylesheet"/>
    <style>
        #invoice {

        }

        #invoice h3 {
            margin: 80px 0 20px 0;
        }

        #invoice .total {
            width: 270px;
            float: right;
        }

        #invoice .table-hover tbody > tr > td {
            border-bottom: 2px solid #DDDDDD;
            padding: 5px 10px;
        }

        #invoice .table-hover thead > tr > th {
            text-align: left;
            border-bottom: 2px solid #DDDDDD;
            padding: 5px 10px;
        }

        #invoice .total tbody > tr:first-child > td {
            border-top: none;
        }

        #invoice p:first-of-type {
            margin: 80px 0 0 0;
        }

        .small-address {
            font-size: 10px;
            margin: 0 0 30px 0;
        }

        .client-address {
            margin: 0 0 30px 0;
        }

        .detail-box {
            margin: -135px 0 0 0;
            float: right;
        }

        .col-md-10 {
            margin: 30px auto;
            float: none;
        }
    </style>
{% endblock %}

{% block body %}
<div id="invoice">
	<div class="col-md-10">
	<div class="small-address">{{ settings.companyName}} - {{ settings.companyAddress1 }} - {{ settings.companyPostcode }} {{ settings.companyCity }}</div>
	<div class="client-address">
	{{ client.firstname }} {{ client.lastname }}<br />
	{{ client.address1 }}<br />
	{{ client.postcode }} {{ client.city }}
	</div>
	
	<div class="detail-box">
			Internet: {{ settings.domain }}<br />
			E-Mail: {{ settings.supportEmail }}<br />
			{% if settings.UStID != '' %}
			UStId: {{ settings.UStID }}
			{% endif %}
			<br />
			<br />
			Date: {{ invoice.date }}<br />
			Clientnr.: #{{ client.id }}<br />
			Invoice: #{{ invoice.id }}
			
	</div>
	
	<h3>Invoice #{{ invoice.id }}</h3>
	
	<table class="table table-hover" style="width: 100%">
					<thead>
					<tr>
						<th>Date</th>
						<th>Service</th>
                        <th>Amount</th>
					</tr>
					</thead>
					<tbody>
								<td>{{ orderItem.createdAt }}</td>
								<td>{{ orderItem.packageId }}</td>
								<td>${{ orderItem.price }}</td>
							</tr>
					</tbody>
				</table>
        <table class="table total">
            <tbody>
            <tr>
                <td>Amount</td><td>${{ orderItem.price }}</td>
            </tr>
            <tr>
                <td>Vat</td><td>{{ payment.vat }}%</td>
            </tr>
            <tr style="font-weight: bold">
                <td>Total</td><td>${{ total }}</td>
            </tr>
            </tbody>
        </table>

        <div style="clear: both"></div>
        <p>Please pay this invoice within 10 Days, till {{ paymentTill }}.</p>

        <p>If you have any question don't hesitate to contact us over the support ticket system.</p>
	</div>
</div>
{% endblock %}