{% extends 'HostkitClientBundle:Default:index.html.twig' %}

{% block clientcontent %}
    <section class="col-md-8">
        <div class="content-box">
            <h3>Invoices</h3>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>Rechnungsnr.</th>
                    <th>Date</th>
                    <th>Amount</th>
					<th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
				{% if orders is iterable %}
                    {% for order in orders %}
                        <tr>
							<td><span class="fa fa-print download-order-invoice" data-invoice="{{ order.id }}"></span></td>
							<td>#{{ order.id }}</td> 
							<td>{{ order.orderDate }}</td>
							<td>${{ order.amount }}</td>
							{% if order.status == 1 %}
								<td>Created</td>
							{% else %}
								<td>Paid</td>
							{% endif %}
							{% if order.status == 1 %}
							<td><!--<a href="{{ path('hostkit_paypal_invoice', { invoiceId: order.invoiceId }) }}"><span class="label label-primary">Pay now</span></a>--></td>
							{% else %}
							<td><span class="fa fa-check"></span></td> 
							{% endif %}
                        </tr>
                    {% endfor %}
                {% endif %}
                {% if invoices is iterable %}
                    {% for invoice in invoices %}
                        <tr>
							<td><span class="fa fa-print download-invoice" data-invoice="{{ invoice.id }}"></span></td>
							<td>#{{ invoice.id }}</td> 
							<td>{{ invoice.date }}</td>
							<td>${{ invoice.amount }}</td>
							{% if invoice.status == 1 %}
								<td>Created</td>
							{% else %}
								<td>Paid</td>
							{% endif %}
                            {% if invoice.status == 1 %}
                                <td><a href="{{ path('hostkit_paypal_invoice', { invoiceId: invoice.id }) }}"><span class="label label-primary">Pay now</span></a></td>
                            {% else %}
                                <td><span class="fa fa-check"></span></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>

    </section>
{% endblock %}