{% extends 'HostkitShopBundle:Default:index.html.twig' %}

{% block content %}
    <div class="container margin-top">
        <!-- Example row of columns -->
        <div class="row">
            <h3>Shared Hosting Packages</h3>
            <hr />
            <table class="table table-bordered table-striped table-pricing">
                <thead>
                <tr>
                    <th></th>
                    {% if packages is iterable %}
                        {% for package in packages %}
                            <th>{{ package.name }}</th>
                        {% endfor %}
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Webspace</td>
					{% if packages is iterable %}
                        {% for package in packages %}
                            <td>{{ package.description[0]|number_format(0, '', '.') }} MB</td>
                        {% endfor %}
                    {% endif %}
                </tr>
                <tr>
                    <td>Traffic</td>
                    {% if packages is iterable %}
                        {% for package in packages %}
                            <td>{{ package.description[1]|number_format(0, '', '.') }} MB</td>
                        {% endfor %}
                    {% endif %}
                </tr>
                <tr>
                    <td>Domains</td>
                    {% if packages is iterable %}
                        {% for package in packages %}
                            <td> - </td>
                        {% endfor %}
                    {% endif %}
                </tr>
                <tr>
                    <td>Addon Domains</td>
                    {% if packages is iterable %}
                        {% for package in packages %}
                            <td> - </td>
                        {% endfor %}
                    {% endif %}
                </tr>
                <tr>
                    <td>Park Domains</td>
                    {% if packages is iterable %}
                        {% for package in packages %}
                            <td> - </td>
                        {% endfor %}
                    {% endif %}
                </tr>
                <tr>
                    <td>FTP Accounts</td>
                    {% if packages is iterable %}
                        {% for package in packages %}
                            <td>{{ package.description[3]|number_format }}</td>
                        {% endfor %}
                    {% endif %}
                </tr>
                <tr>
                    <td>MySQL Databases</td>
                    {% if packages is iterable %}
                        {% for package in packages %}
                            <td>{{ package.description[2]|number_format }}</td>
                        {% endfor %}
                    {% endif %}
                </tr>
                <tr>
                    <td>E-Mail Accounts</td>
                    {% if packages is iterable %}
                        {% for package in packages %}
                            <td>{{ package.description[4]|number_format }}</td>
                        {% endfor %}
                    {% endif %}
                </tr>
                <tr>
                    <td>Subdomains</td>
                    {% if packages is iterable %}
                        {% for package in packages %}
                            <td> - </td>
                        {% endfor %}
                    {% endif %}
                </tr>
                <tr>
                    <td>Monthly Price</td>
                    {% if packages is iterable %}
                        {% for package in packages %}
                            <td>${{ package.price }}</td>
                        {% endfor %}
                    {% endif %}
                </tr>
                <tr>
                    <td>Setup</td>
                    {% if packages is iterable %}
                        {% for package in packages %}
							{% if package.setup  != '' and package.setup  > 0 %}
								<td>${{ package.setup }}</td>
							{% else %}
								<td> - </td>
							{% endif %}
                        {% endfor %}
					{% endif %}
                </tr>
				<tr>
					<td></td>
					{% if packages is iterable %}
                        {% for package in packages %}
                            <td><a href="{{ path('hostkit_shop_cart_one', {'package_id': package.id}) }}" data-package="{{ package.id }}"><button type="button" class="btn btn-custom btn-sm">Add to Cart</button></a></td>
                        {% endfor %}
                    {% endif %}
				</tr>

                </tbody>
            </table>


        </div>

{% endblock %}